body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

h1 {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1.5px solid rgba(115, 115, 115, 0.933);
  width: calc(100% -22px);
  box-sizing: border-box;
}

button {
  padding: 15px;
  width: 120px;
  font-weight: 700;
  margin: auto;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 10px;
  font-size: 1.2em;
  margin: auto;
  text-align: center;
}
